<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".FieldSyncApp"
        android:allowBackup="true"
        android:label="FieldSync"
        android:supportsRtl="true"
        android:theme="@style/Theme.FieldSync">

        <activity
            android:name=".presentation.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.FieldSync">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Legacy screen implemented with classic MVP (see history/ package) -->
        <activity
            android:name=".history.view.HistoryActivity"
            android:exported="false" />

    </application>
</manifest>
